---
layout: default
---

{% for vendor in site.data.vendors %}
  <h2>{{ vendor.name }}</h2>  
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Type</th>
        <th>Score</th>
        <th>Details</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in vendor.inventory %}
        {% assign item = site.data.items[entry.item_id] %}
        <tr class="{% if entry.god_roll %}god-roll{% endif %}">
          <td><strong>{{ entry.item_id }}</strong></td>
          <td><strong>{{ item.name }}</strong></td>
          <td>{{ item.type }}</td>
          <td>{{ item.score }}</td>
          <td>{{ item.talents | join: ", " }}{{ entry.attributes }}</td>
          <td>{{ entry.price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
